.experiences{
    background-color: var(--color-cream-background);

    padding: 3% 5%;
  
}

.experiences-section {
    
    height: 100%;
    display: flex;
    align-items: stretch;
    padding-top: 2%;
    padding-bottom: 2%;
     /* Align items vertically, optional */
}
.experiences-title {
    flex: 0 0 17em; 
    
}
.experiences-content {
    flex: 2; 
    
}

.column {
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.exp-col{
    /* Need this to be 100% of parent
    */
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;

}
.experiences-section:first-child{
    border-bottom: none;
}
.experiences-section{
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}

.experiences-title-text{
    padding-top:6%;
    margin: 0;
    color: var(--color-pink);
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #f43ab0;
    letter-spacing: -0.05rem; /* Reduce letter-spacing to make letters closer */
    text-transform: uppercase;
    font-family: 'League Spartan', sans-serif;
    font-size: 3rem;
}
.experiences-title-bar {
    width: 40%; /* Width of the bar */
    height: 3px; /* Height of the bar */
    margin-left: .5%;
    background-color: var(--color-pink);
    margin-top: .25rem; /* Color of the bar */
}
.exp-link{
    margin-top: .5rem;
    color:black;
    font-family: 'Cabin';
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.experiences-description{
    font-family:'Cabin';
    color:black;
    font-size: 1.5rem;

}

/* Creating for mobile sizes */
@media (max-width: 850px) {
    .experiences-title{
        display: flex;
        align-items: center;
        flex: 0 0 7em;
       
    }
    .experiences-title-text{
        padding-top: 2%;
    }
        
    
    
}