.footer-container{
    border: red 1px solid;
    width: 80%;
    margin: auto;
    align-items: flex-start;
    display: flex;
    flex-direction: column;

}
.footer{
    border: green 1px solid;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    

}
.footer-title{
    display: block;
    color: var(--color-pink);
    text-align: left;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #f43ab0;
    letter-spacing: .25rem;
    text-transform: uppercase;
    font-family: 'League Spartan', sans-serif;
    font-size: 2.5rem; 
    line-height: 1.1;

}
.footer-links{
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--color-cream);
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.8rem; 
    line-height: 1.1;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}
.footer-link{
    display: block;
    text-decoration: none;
    color: var(--color-cream);
    
}

